.attempt span{
    background-color: rgb(0,255,0);
    margin-left: 20px;
    width: 20px;
    padding-left: 10px;
}

.window{
    position: relative;
    top: 20px;
    width: fit-content;
    left: 10%;
}

.column{
    width:45%;
}

.bars{
    position: relative;
    float: left;
    left: 200px;
    top: -41px;
}
td{
    padding-left: 10px;

}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14pt;
    width: 10px;
    margin: 0;
    display: inline;
    padding: 0;
    background-color: black;
    color: rgb(0,255,0);
}

button:hover{
    background-color: rgb(0,255,0);
    color: black;
    width: 800px;
}

table{
    position: relative;
    width: 500px;
    display: block;
    float: left;
}

.terminal {
    position: relative;
    float: left;
    width: fit-content;
}

.container{
    position: relative;
    width: fit-content;
    display: inline-block;
}

input{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14pt;
    width: 400px;
    color: rgb(0,255,0);
    border-style: none;
    text-transform: uppercase;
}

.pbutton{
    width: 8pt;
}

.pbutton:hover{
    width: 8pt;
}

.intro{
    width: fit-content;
    align-content: center;
    position: relative;
}