<div class="window">
  <p>welcome to ROBCO Industries (TM) Termlink</p>
  <p>Password required</p>
  <br />
  <div class="attempt">
    <p>Attempts remained:</p>
    <div class="bars">
      <span *ngIf="attemptsRemained > 0"></span>
      <span *ngIf="attemptsRemained > 1"></span>
      <span *ngIf="attemptsRemained > 2"></span>
      <span *ngIf="attemptsRemained > 3"></span>
    </div>
  </div>
  <div>
    <table>
      <tr *ngFor="let row of firstRows; index as i">
        <td>{{row.rowNumber}}</td>
        <td><button *ngFor="let char of row.char">{{char.char}}</button></td>
        <td style="padding-left: 20px;">{{secondRows[i].rowNumber}}</td>
        <td><button *ngFor="let char of secondRows[i].char">{{char.char}}</button></td>
      </tr>
    </table>
    <div class="terminal">
        <div class="output">
            <div class="line" *ngFor="let line of terminal">
              <span *ngFor="let char of line">{{char.char}}</span>
            </div>
          </div>
          <label>&gt;</label><input type="text" [(ngModel)]="in" (keyup.enter)="submit()"/>
    </div>
    
  </div>
</div>