<div class="window">
  <div class="intro">
      <p>welcome to ROBCO Industries (TM) Termlink</p>
  <p>Password required</p>
  <br />
  </div>

  <div class="attempt">
    <p>Attempts remained:</p>
    <div class="bars">
      <span *ngIf="attemptsRemained > 0"></span>
      <span *ngIf="attemptsRemained > 1"></span>
      <span *ngIf="attemptsRemained > 2"></span>
      <span *ngIf="attemptsRemained > 3"></span>
    </div>
  </div>
  <div class="container" *ngIf="loaded">
    <table>
      <tr *ngFor="let row of firstRows; index as i">
        <td>{{row.rowNumber}}</td>
        <td><button class="pbutton" *ngFor="let char of row.char">{{char.char}}</button></td>
        <td style="padding-left: 20px;">{{secondRows[i].rowNumber}}</td>
        <td><button class="pbutton" *ngFor="let char of secondRows[i].char">{{char.char}}</button></td>
      </tr>
    </table>
    <app-terminal class="terminal" (out)="onTerminalInput($event)" [inputText]="termMsg"></app-terminal>
  </div>
</div>