.TextView{
    position: relative;
    top: 25%;
    left: 30%;
}

.TextView table{
    border-style: solid;
    border-color: rgb(0,255,0);
    text-align: center;
    width:fit-content;
    overflow: hidden;
}

.TextView button{
    position: relative;
    width: 30%;
    left: 10%;
}